/* Hover code */
@import url("./modulesCSS/buttonHover.css");

/* Swiper button styling reset */
.swiper-button-prev,
.swiper-button-next {
   position: relative !important;
   left: auto !important;
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   margin-top: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
   content: "";
}

/* Cart styling */
/* Chrome, Safari, Edge, Opera */
.quantity-changer.is-cart::-webkit-outer-spin-button,
.quantity-changer.is-cart::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
.quantity-changer.is-cart[type="number"] {
   -moz-appearance: textfield;
}

@import url("./modulesCSS/navigation.css");

@import url("./modulesCSS/footer.css");

/* Heading break words with hyphen */
.text-hyphen {
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}

/* Prefooter card hover */
.prefooter_card_wrapper:hover .prefooter_card_arrow {
   transform: translateX(0%);
   opacity: 1;
}

/* Certificate hover animation */
.certifications_certificate_wrapper:hover .certifications_certificate_button {
   color: var(--swatch--grayscale-100);
   background-color: var(--swatch--grayscale-900);
}

/* Attribute hover underline */
[data-hover-underline] {
   position: relative;
}

[data-hover-underline]::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   height: 1px;
   background: currentColor;
   transition: width 0.3s ease;
}

[data-hover-underline]:hover::after {
   width: 100%;
}
