/* Button hover styling */
.button:hover .button-hover {
   width: 101%;
}
.button:hover:not(.is-link) .button-text,
.button:hover:not(.is-link) .button-arrow {
   color: white !important;
}
.button:hover:not(.is-link) .button-arrow {
   transform: translateX(15%);
}
.button[data-wf--button-primary--variant="outline-black"]:hover .button-hover,
.button[data-wf--button-primary--variant="outline-white"]:hover .button-hover,
.button[data-wf--button-primary--variant="navigation-white"]:hover
   .button-hover,
.button[data-wf--button-primary--variant="outline-white-hero"]:hover
   .button-hover,
.button[data-wf--button-primary--variant="navigation"]:hover .button-hover,
.button[data-wf--button-primary--variant="navigation"]:hover .button-hover,
.button[data-wf--button-large--variant="outline-black"]:hover .button-hover,
.button[data-wf--button-large--variant="outline-white"]:hover .button-hover,
.button[data-wf--button-arrow--variant="outline-black"]:hover .button-hover,
.button[data-wf--button-arrow--variant="outline-white"]:hover .button-hover,
.button[data-wf--button-arrow-large--variant="outline-black"]:hover
   .button-hover,
.button[data-wf--button-arrow-large--variant="outline-white"]:hover
   .button-hover,
.button[data-wf--button-secondary--variant="outline-black"]:hover .button-hover,
.button[data-wf--button-secondary--variant="outline-white"]:hover .button-hover,
.button[data-wf--button-secondary-large--variant="outline-black"]:hover
   .button-hover,
.button[data-wf--button-secondary-large--variant="outline-white"]:hover
   .button-hover {
   width: calc(100% + 2px);
}
.button[data-wf--button-primary--variant="outline-black"]:hover,
.button[data-wf--button-primary--variant="outline-white"]:hover,
.button[data-wf--button-primary--variant="navigation-white"]:hover,
.button[data-wf--button-primary--variant="navigation-black"]:hover,
.button[data-wf--button-primary--variant="navigation"]:hover,
.button[data-wf--button-large--variant="outline-black"]:hover,
.button[data-wf--button-large--variant="outline-white"]:hover,
.button[data-wf--button-arrow--variant="outline-black"]:hover,
.button[data-wf--button-arrow--variant="outline-white"]:hover,
.button[data-wf--button-arrow-large--variant="outline-black"]:hover,
.button[data-wf--button-arrow-large--variant="outline-white"]:hover,
.button[data-wf--button-secondary--variant="outline-black"]:hover,
.button[data-wf--button-secondary--variant="outline-white"]:hover,
.button[data-wf--button-secondary-large--variant="outline-black"]:hover,
.button[data-wf--button-secondary-large--variant="outline-white"]:hover {
   color: var(--swatch--grayscale-100);
}

/* Navigation card hover */
.navigation_dropdown_card_wrapper:hover .button-hover {
   width: calc(100% + 2px);
}
.navigation_dropdown_card_wrapper:hover .button {
   color: var(--swatch--grayscale-100);
}

/* Client segmentation card hover */
.segmentation-service_card_wrapper:hover .button-hover {
   width: calc(100% + 2px);
}
.segmentation-service_card_wrapper:hover .button {
   color: var(--swatch--grayscale-100);
}

/* Element hover animate nested button */
[data-animate-button]:hover .button-hover {
   width: calc(100% + 2px);
}
[data-animate-button]:hover .button {
   color: var(--swatch--grayscale-100);
}

/* Footer button hover styling */
.footer_submit-wrapper:hover .button-hover {
   width: 100%;
}

/* Navigation link underline */
.navigation_link {
   position: relative;
}

.navigation_link::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   height: 1px;
   background: currentColor;
   transition: width 0.3s ease;
}

.navigation_link:hover::after {
   width: 100%;
}

/* Button link hover */
.button.is-link .button-underline {
   transform: translateX(0);
}

.button.is-link .button-underline.animate {
   animation: underline-slide 0.39s linear forwards;
}

.product-container_contact_cta .product-container_contact_cta-line {
   transform: translateX(0);
}

.product-container_contact_cta .product-container_contact_cta-line.animate {
   animation: underline-slide 0.39s linear forwards;
}

@keyframes underline-slide {
   0% {
      transform: translateX(0%);
   }
   50% {
      transform: translateX(100%);
   }
   50.001% {
      transform: translateX(-100%);
   }
   100% {
      transform: translateX(0%);
   }
}

/* Footer link hover */
a.footer_link {
   position: relative;
}

a.footer_link::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   height: 1px;
   background: currentColor;
   transition: width 0.3s ease;
}

a.footer_link:hover::after {
   width: 100%;
}
