/* Navigation dropdown code */
@media screen and (min-width: 992px) {
   .navigation_dropdown_link:hover .navigation_dropdown_link-arrow {
      opacity: 1;
   }
   .navigation.is-open .navigation_brand-logo {
      color: #1d1d1d;
   }
   .navigation.is-open .navigation_wrapper {
      color: #1d1d1d;
   }
   .navigation.is-open a.button {
      color: #1d1d1d;
      border-color: #1d1d1d;
   }
}

@media screen and (max-width: 991px) {
   .navigation.is-open .navigation_brand-logo {
      color: var(--swatch--grayscale-900);
   }
}

/* Navigation mobile code */
body.is-fixed {
   overflow: hidden;
}
@media screen and (max-width: 991px) {
   #navigation.is-open .navigation_brand-logo {
      color: var(--swatch--grayscale-900);
   }
   .navigation_mobile-link > div {
      margin-top: 1px;
   }
}

@media screen and (min-width: 992px) {
  .navigation_overflow {
    overflow: hidden !important;
    transition: height 300ms ease !important;
    height: 0px !important;
  }

  .navigation_dropdown_grid,
  .navigation_dropdown_grid-2,
  .navigation_dropdown_grid-3 {
    position: absolute !important;
    visibility: hidden !important;
  }

  .navigation_dropdown_grid.is-open,
  .navigation_dropdown_grid-2.is-open,
  .navigation_dropdown_grid-3.is-open {
    position: relative !important;
    visibility: visible !important;
  }

  .navigation_dropdown.is-open {
    opacity: 1 !important;
    pointer-events: auto !important;
    grid-template-rows: 1fr !important;
  }
}
