/* Navigation dropdown code */
@media screen and (min-width: 992px) {
   .navigation_dropdown_link:hover .navigation_dropdown_link-arrow {
      opacity: 1;
   }
   .navigation.is-open .navigation_brand-logo {
      color: #1d1d1d;
   }
   .navigation.is-open .navigation_wrapper {
      color: #1d1d1d;
   }
   .navigation.is-open a.button {
      color: #1d1d1d;
      border-color: #1d1d1d;
   }
}

@media screen and (max-width: 991px) {
   .navigation.is-open .navigation_brand-logo {
      color: var(--swatch--grayscale-900);
   }
}

/* Navigation mobile code */
body.is-fixed {
   overflow: hidden;
}
@media screen and (max-width: 991px) {
   #navigation.is-open .navigation_brand-logo {
      color: var(--swatch--grayscale-900);
   }
   .navigation_mobile-link > div {
      margin-top: 1px;
   }
}

@media screen and (min-width: 992px) {
   .navigation_dropdown {
      transition: max-height 300ms ease, opacity 700ms ease !important;
      max-height: 0 !important;
      overflow: hidden !important;
   }

   .navigation_dropdown.is-open {
      opacity: 1 !important;
      pointer-events: auto !important;
      max-height: var(--nav-dropdown-height, 600px) !important;
   }
}
